<p class="pull-right">
    <a class="btn btn-primary" ui-sref="list">Done</a>
</p>

<h1>
    <a href="#" editable-text="contact.fname" ng-model="contact.fname" onaftersave="saveChanges()">{{ contact.fname || 'empty' }}</a>
    <a href="#" editable-text="contact.lname" ng-model="contact.lname" onaftersave="saveChanges()">{{ contact.lname || 'empty' }}</a>
</h1>

<div class="row">
    <div class="col-sm-2">
        phone:
    </div>
    <div class="col-sm-10">
        <a href="#" editable-text="contact.phone" ng-model="contact.phone" onaftersave="saveChanges()">{{ contact.phone || 'empty' }}</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        date of birth:
    </div>
    <div class="col-sm-10">
        <a href="#" editable-text="contact.dob" ng-model="contact.dob" onaftersave="saveChanges()">{{ contact.dob || 'empty' }}</a>
    </div>
</div>
